.post-wrapper{
	width:25em;
	margin:1.25em;
	display:inline-block;
}

.post-header{
	height:4.375em;
	width:25em;
	margin-bottom:0;
	float:left;
}

.category, .edit-button{
	color:white;
	display:inline-block;
	float:left;
	margin:0.625em;
}

.timestamp, .delete-button{
	color:white;
	display:inline-block;
	float:right;
	margin:0.625em;
}

.title{
	color:white;
	text-align:center;
	clear:both;
	margin:0.625em;
}

.content-wrapper{
	margin-top:0;
	height:35.938em;
	width:25em;
	background-color:white;
	float:left;
}

.content{
	margin:0.625em;
}

#title-edit-box,#content-edit-box{
	clear:both;
	width:75em;
}